# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore environment variable files
.env

# Ignore log files
*.log